<div>
  <header>
    <h2>{{person.name}}</h2>
    <div class='mb-2'>Age: <b>{{person.age}}</b></div>
    <div>Gender: <b>{{person.gender}}</b></div>
    <hr />
  </header>
  {{#with person}}
    <main>
      <section>
        <div class='card mb-3'>
          <div class='card-body'>
            <h3>Education:</h3>
            {{#each education}}
              <div>Major: "{{major}}"</div>
              <br />
              <div>Degree: "{{degree}}"</div>
              <br />
              <div>University: '<em
                >{{university}}</em>'</div>
              <br />
              <div>Graduation Year: {{graduationYear}}</div>
            {{/each}}
          </div>
        </div>
      </section>
      <section>
        <div class='card'>
          <div class='card-body'>
            {{#each workExperience}}
              <div
                class='alert alert-primary text-dark'
                role='alert'
              >
                <h4 class='mb-3'>
                  <span
                    class='badge text-bg-primary p-2 px-3'
                    style='border-radius: 30px 3px;'
                  >Work experience:</span>
                </h4>
                <div class='ms-4'><div>Company:
                    <em>{{company}}</em></div>
                  <br />
                  <div>Speciality: <em>{{title}}</em></div>
                  <br />
                  <div>Experience:
                    {{startDate}}
                    -
                    {{endDate}}
                  </div>
                  <br />
                  <div>Responsibilities :
                    {{#each responsibilities}}
                      <ul>
                        <li>
                          {{this}}
                        </li>
                      </ul>
                    {{/each}}
                  </div>
                  <br />
                  <div><b>Year founded:</b>
                    {{year_founded}}</div>
                  <br />
                  <div><b>Industry:</b> '{{industry}}'</div>
                </div></div>

              <div
                class='alert alert-secondary mb-1'
                role='alert'
              >
                {{#each employees}}
                  <div class='mb-3'>
                    <h4>
                      <span
                        class='badge text-bg-secondary p-2 px-3'
                        style='border-radius: 30px 3px;'
                      >Employees:</span>
                    </h4>
                  </div>
                  <ul>
                    <li class='badge text-bg-dark p-4'>
                      <h6>
                        <b>"{{name}}"</b>
                        <br />
                        <br />
                        <div><big>Positinon: '<abr>
                              {{position}}
                            </abr>'</big>
                        </div>
                        <br />
                        <div>Department:
                          <em>'{{department}}'</em>
                        </div>
                      </h6>
                    </li>
                    <div class='ms-4 ps-2'>
                      <ul class='ms-5 mt-0'>
                        <li class='ms-5'>
                          <h5 class='mb-0'>
                            <span
                              class='badge text-bg-warning ms-5'
                              style='border-radius: 0px 30px;'
                            >Projects:</span>
                          </h5>
                        </li>
                        <div class='ms-4 ps-3'>
                          {{#each projects}}
                            <ul class='ms-5'>
                              <li
                                class='badge text-bg-dark p-4 ms-5'
                              >
                                <h6>
                                  <div class='mb-2'>
                                    <b>"{{name}}"</b>
                                  </div>
                                  <div
                                    class='mb-4'
                                  >'{{description}}'</div>
                                  <div
                                    class='pe-5 me-5'
                                  ><span
                                      class='badge text-bg-success'
                                    >
                                      <h6 class='mb-0'>
                                        Status:
                                        {{status}}..
                                      </h6>
                                    </span>
                                  </div>
                                </h6>
                              </li>
                              <div class='ms-5'>
                                <ul class='ms-5'>
                                  <li class='ms-5'>
                                    <div class='ms-5 ps-3'>
                                      <ul class='ms-5'>
                                        <li class='ms-4'>
                                          <h5 class='mb-0'>
                                            <span
                                              class='badge text-bg-warning'
                                              style='border-radius: 0px 30px;'
                                            >Teams:</span>
                                          </h5>
                                        </li>
                                        <div class='ps-1'>
                                          {{#each teams}}
                                            <ul>
                                              <li
                                                class='badge text-bg-dark p-4 ms-5'
                                              >
                                                <h6>
                                                  <div
                                                    class='mb-3'
                                                  >
                                                    <b
                                                    >"{{team_name}}"</b>
                                                  </div>
                                                  <div>
                                                    Leader:
                                                    <li
                                                      class='my-2'
                                                    >
                                                      <b
                                                      >"{{team_leader.name}}"</b>
                                                    </li>
                                                    <li
                                                    >{{team_leader.email}}</li>
                                                  </div>
                                                </h6>
                                              </li>
                                            </ul>
                                          {{/each}}
                                        </div>
                                      </ul>
                                      <ul>
                                        <li
                                          class='ms-2 ps-1'
                                        >
                                          <h5 class='mb-0'>
                                            <span
                                              class='badge text-bg-warning'
                                              style='border-radius: 30px 0px;'
                                            >Team members:
                                            </span>
                                          </h5>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div>
                                <ul class='ps-4'>
                                  <div>
                                    {{#each teams}}
                                      {{#each team_members}}
                                        <ul>
                                          <li
                                            class='badge text-bg-dark p-4'
                                          >
                                            <h6>
                                              <div
                                                class='mb-3'
                                              >
                                                <b
                                                >"{{name}}"</b>
                                              </div>
                                              <div
                                                class='mb-3'
                                              >
                                                {{title}}
                                              </div>
                                              <div
                                                class='mb-3'
                                              >{{email}}</div>
                                              <div>Skills:
                                                {{#each
                                                  skills
                                                }}
                                                  <span
                                                    class='badge text-bg-warning'
                                                  >
                                                    {{this}}</span>
                                                {{/each}}
                                              </div>
                                            </h6>
                                          </li>
                                        </ul>
                                      {{/each}}
                                    {{/each}}
                                  </div>
                                </ul>
                              </div>
                            </ul>
                            <div>
                              <ul>
                                <li class='ms-4 ps-3'>
                                  <h5 class='mb-0'>
                                    <span
                                      class='badge text-bg-warning'
                                      style='border-radius: 30px 0px;'
                                    >Project:
                                    </span>
                                  </h5>
                                </li>
                              </ul>
                            </div>
                          {{/each}}
                        </div>
                      </ul>
                    </div>
                    <div class=''>
                      {{#each projects}}
                        {{#each teams}}
                          {{#each team_members}}
                            {{#each projects}}
                              <ul class='ps-0'>
                                <div class=''>
                                  <ul class='ps-0'>
                                    <li
                                      class='badge text-bg-dark p-3'
                                    >
                                      <h6>
                                        <div class='mb-3'>
                                          <b>"{{name}}"</b>
                                        </div>
                                        <div class='mb-3'>
                                          {{description}}
                                        </div>
                                        <div>
                                          {{#each
                                            technologies
                                          }}
                                            <span
                                              class='badge text-bg-warning'
                                            >
                                              {{this}}</span>
                                          {{/each}}
                                        </div>
                                      </h6>
                                    </li>
                                    <div
                                      class='pe-0 ps-4 ms-5'
                                    >
                                      <li class='ms-5 ps-5'>
                                        <h5
                                          class='mb-0 ms-5'
                                        >
                                          <span
                                            class='badge text-bg-warning'
                                            style='border-radius: 0px 30px; ms-5'
                                          >Team members:
                                          </span>
                                        </h5>
                                      </li>
                                    </div>
                                  </ul>
                                </div>
                              </ul>
                            {{/each}}
                          {{/each}}
                        {{/each}}
                      {{/each}}
                    </div>
                    <ul class='ms-5 ps-5'>
                      <li class='ms-5 ps-5'>
                        <div class='ps-4 ms-5'>
                          {{#each projects}}
                            {{#each teams}}
                              {{#each team_members}}
                                {{#each projects}}
                                  <ul class='ps-'>
                                    <div class='row gx-1'>
                                      {{#each team_members}}
                                        <div class='col-3'>
                                          <ul class='ps-'>
                                            <li
                                              class='badge text-bg-dark p-3'
                                            >
                                              <h6>
                                                <div
                                                  class='mb-3'
                                                >
                                                  <b
                                                  >"{{name}}"</b>
                                                </div>
                                                <div
                                                  class='mb-3'
                                                >
                                                  {{title}}
                                                </div>
                                              </h6>
                                            </li>
                                          </ul>
                                        </div>
                                      {{/each}}
                                    </div>

                                  </ul>
                                {{/each}}
                              {{/each}}
                            {{/each}}
                          {{/each}}
                        </div>
                      </li>
                    </ul>

                  </ul>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>
      </section>
    </main>
  {{/with}}
</div>