{{#if isPrimary}}
  <a href='{{link}}' class='btn btn-primary'>{{text}}</a>
{{/if}}
{{#if isSecondary}}
  <a
    href='{{link}}'
    class='btn btn-outline-secondary'
  >{{text}}</a>
{{/if}}
{{#if isDanger}}
  <a
    href='{{link}}'
    class='btn btn-outline-danger'
  >{{text}}</a>
{{/if}}